
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav>
            <div class="row">
                <img src="~/Content/Img/logo.svg" alt="Sms-Sender logo" class="logo" />
                <div class="logo-contenedor">
                    <p class="empresa">Sms-Sender</p>
                </div>
            </div>
        </nav>
        <div class="texto">
            <h1>Adiós problemas.<br /> ¡Hola crédito Sms-Sender!.</h1>
            @(Html.ActionLink("Solicítalo aquí", "otra", "SmsController", null, new { @class = "btnR btnR-full" }))
            @(Html.ActionLink("¿Quiénes somos?", "About", null, new { @class = "btnR btnR-transp" }))
        </div>
    </header>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
